@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu&family=Varela+Round&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
}
