@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu&family=Varela+Round&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
   
}
body{
    min-height: 90vh;
}
a{
    text-decoration: none;
    color:inherit;
}
.navitems .active {
    padding-bottom: 2px;
    border-bottom:2px solid tomato ;
    transition: all 0.15s ease-in-out;
  }
#hi{
    animation: fade-in 1s ease-in-out;
}  

@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: ttranslateY(0);
    }
}
